<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucd.danielgall.klangapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ucd.danielgall.klangapp.activities.menu.MenuScreen"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name="ucd.danielgall.klangapp.activities.load.LoadScoresScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="ucd.danielgall.klangapp.activities.scores.RecentScoresScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="ucd.danielgall.klangapp.activities.scores.BestScoresScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="ucd.danielgall.klangapp.activities.scores.ScoreBoardScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="ucd.danielgall.klangapp.activities.learn.LearnSelectionScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="ucd.danielgall.klangapp.activities.learn.LearnScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="ucd.danielgall.klangapp.activities.load.LoadAudioScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="ucd.danielgall.klangapp.activities.game.GameScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name="ucd.danielgall.klangapp.activities.game.GameOverScreen"
            android:screenOrientation="sensorPortrait"/>

        <activity android:name=".activities.menu.SplashScreen" android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            />
    </application>

</manifest>