<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.germanmemoriserapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.menu.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.load.LoadScoresScreen" />
        <activity android:name=".activities.scores.RecentScoresScreen" />
        <activity android:name=".activities.scores.BestScoresScreen" />
        <activity android:name=".activities.scores.ScoreBoardScreen" />
        <activity android:name=".activities.learn.LearnSelectionScreen" />
        <activity android:name=".activities.learn.LearnScreen" />
        <activity android:name=".activities.load.LoadAudioScreen" />
        <activity android:name=".activities.game.GameScreen" />
        <activity android:name=".activities.game.GameOverScreen" />
        <activity android:name=".activities.menu.MenuScreen">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            />
    </application>

</manifest>